body {
  font-family: sans-serif;
}

input {
  border-radius: 9px;
  border: none;
  outline: none;
  padding: 6px 16px;
}

li {
  margin-right: 8px;
}

button {
  border-radius: 9px;
  border: none;
  outline: none;
  padding: 4px 16px;
}

button:hover {
  cursor: pointer;
  background-color: #ff7fff;
  color: #fff;
}

.input-area {
  background-color: #c1fff1;
  width: 500px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 9px;
}

.incomplete-area {
  background-color: #c6ffc6;
  width: 500px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 9px;
}

.completed-area {
  background-color: #ffffe0;
  width: 500px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 9px;
}

.title {
  text-align: center;
  margin-top: 0;
  color: #666;
  font-weight: bold;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
